.slide-enter {
  opacity: 0;
  transform: translateY(100%);
}

.slide-enter-active {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 500ms, transform 500ms;
}

.slide-exit {
  opacity: 1;
  transform: translateY(-100%);
  transition: opacity 500ms, transform 500ms;
}

.slide-exit-active {
  opacity: 0;
  transform: translateY(100%);
  transition: opacity 500ms, transform 500ms;
}

.slider {
  width: 550px;
  background-color: #ffffff;
  position: fixed;
  z-index: 2;
  bottom: 90px;
  left: 13px;
  box-shadow: 1px 1px 20px 1px #888888;
}